<div class="container">
  <div class="row">
    <div class="col-12">
      <img class="img-fluid rounded-edge" src="https://avatars1.githubusercontent.com/u/20504507?s=460&v=4">
    </div>
  </div>
  <div class="row">
    <div class="col-4 text-center">
      <h2><a href="https://www.linkedin.com/in/bartosz-j-wisniewski"><span class="fab fa-linkedin"></span></a></h2>
    </div>
    <div class="col-4 text-center">
      <h2><a href="https://www.twitter.com/TIncorrectClock"><span class="fab fa-twitter"></span></a></h2>
    </div>
    <div class="col-4 text-center">
      <h2><a href="https://github.com/TheIncorrectClock"><span class="fab fa-github"></span></a></h2>
    </div>
  </div>
  <br>
  <div class="row">
    <div class="col-12">
      <h4>About</h4>
    </div>
  </div>
  <div class="row">
    <div class="col-12">
      Developer
    </div>
  </div>
  <br>
  <div class="row">
    <div class="col-12">
      <h4>Interests</h4>
    </div>
  </div>
  <div class="row">
    <div class="col-12">
      Fantasy, Entertainment Industry
    </div>
  </div>
</div>
